.askbids {
  background: white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.bids {
  color: green;
}

.asks {
  color: red;
}

.bids,
.asks {
  margin: 3px;
  font-family: arial;
}
