.currency-type {
  border: none;
  color: white;
  padding: 3px;
  background: #1e2b34;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.currency-symbol {
  font-size: 75px;
  padding-right: 5px;
}

.price-display {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100%;
}

.price {
  color: white;
  font-size: 150px;
  font-weight: bold;
  width: 100%;
  text-align: center;     /* will center text in <p>, which is not a flex item */
}

@media only screen and (max-width: 600px) {
  .currency-type {
    font-size: 20px;
  }

  .set-target {
    width: 50%;
  }

  .price {
    color: white;
    font-size: 100px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
  }
}
