.App {
  text-align: center;
  width: 495px;
  margin: 0 auto;
}

.table>thead>tr {
  font-weight: bold;
}

.table tr:hover {
  background: transparent !important;
}

.table td.no-align {
  text-align: left;
}

.red {
  color: #ff2d2d;
}

.green {
  color: #11c711;
}

.about {
  color: white;
  background: #183049;
  padding: 5px;
}

.display-notice {
  display: block;
  background: yellow;
  color: black;
  font-size: 16px;
}


@media only screen and (max-width:768px ) {
  .App {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .display-notice {
    display: none;
  }
}
