.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.table>thead>tr {
  font-weight: bold;
}

.table tr:hover {
  background: transparent !important;
}

.table td.no-align {
  text-align: left;
}

.red {
  color: #ff2d2d;
}

.green {
  color: #11c711;
}

.about {
  color: white;
  background: #1e2b34;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
